<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082245736727-bm70stk6op9ljpph2nat4qpqdl22no8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082245736727-bm70stk6op9ljpph2nat4qpqdl22no8e</string>
	<key>API_KEY</key>
	<string>AIzaSyC1-N69D6k1pxkkUKUyMSZoIozd3ixZSPk</string>
	<key>GCM_SENDER_ID</key>
	<string>1082245736727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS329Bulko.Group-Project</string>
	<key>PROJECT_ID</key>
	<string>official-group-project</string>
	<key>STORAGE_BUCKET</key>
	<string>official-group-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082245736727:ios:72d119514afa74b6856f52</string>
</dict>
</plist>